.projects {
  padding: 97px 0;
}

.projects a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.project {
  background-color: #fff;
  border: 1px solid gray;
  padding: 15px;
  border-radius: 10px;
  margin: 10px 20px;
}
